$breakpoints: (
    "mob": "(max-width: 400px)",
    "rmob": "(max-width: 399px)",    
    "sm": "(max-width: 500px )",
    "md": "(min-width: 601px) and (max-width: 1000px )",
    "md-lg": "(min-width:601px)" and "(max-width:770px)",
    "lg-md": "(min-width:770px)" and "(max-width:1000px)", 
    "lg": "(min-width:1001px )",  
    "lg-inf": "(min-width:1001px ) and (max-width:1500px)",
    "inf-lg": "(min-width:1501px ) and (max-width:2000px)"

);

@mixin breakpoint($user-value) {
    $my-map: map-get($breakpoints, $user-value);
    @if $my-map {
        @media (#{$my-map}) {
            @content;
        }
    }@else {
        @error "breakpoint #{$user-value} Not Working"
    }
};

@font-face {
    font-family: helvetibold;
    src: url(../Fonts/helvetica-255-cufonfonts/Helvetica-Bold.ttf);
}

@font-face {
    font-family: helvetinorm;
    src: url(../Fonts/helvetica-255-cufonfonts/Helvetica.ttf);
}

@font-face {
    font-family: helvetiLight;
    src: url(../Fonts//helvetica-255-cufonfonts/Helvetica.ttf);
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    background-color:#08111E;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 85% 70%;
    background-position: center;
    color: var(--text-color);
    overflow: hidden;
 }
 
 .top-right {
    top:203px;
    left:276px;
    position:relative;
    animation-name: infinite4;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    z-index: 1;
    height: fit-content;
    width:fit-content;
    @include breakpoint(mob) {
        top: 52px;
        left: 86px;
    }
    @include breakpoint(rmob){
        display: none;
    }
}

.top-left {
    top: 59px;
    left:-356px;
    position:relative;
    animation-name: infinites;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    z-index: 1;
    height: fit-content;
    width:fit-content;
    @include breakpoint(mob) {
        top: -5px;
        left: -118px;        
    }
    @include breakpoint(rmob){
        display: none;
    }
}

.bottom-right {
    top:22px;
    left:221px;
    position:relative;
    animation-name: infinite3;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    z-index: 1;
    height: fit-content;
    width:fit-content;
    @include breakpoint(mob) {
        top: 12px;
        left: 86px;        
    }
    @include breakpoint(rmob){
        display: none;
    }
}

.bottom-left {
    top: -145px;
    left:-305px;
    position:relative;
    animation-name: infinites;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    z-index: 1;
    height: fit-content;
    width:fit-content;
    @include breakpoint(mob) {
        top:-45px;
        left: -141px;        
    }
    @include breakpoint(rmob){
        display: none;
    }
}

@keyframes infinite {
    0% {
        transform: translateX(0%);
      }
    20% {
        transform: translateY(0%)
      }
    40% {
        transform: translateX(50%);  
      } 
    60% {
        transform: translateY(-30%);  
    }  
    80%{
        transform: translateX(0%);  
    }
    100% {
        transform: translateY(0%);   
    }
  }

  @keyframes infinites {
    0% {
        transform: translateY(0%);
      }
    20% {
        transform: translateX(0%)
      }
    40% {
        transform: translateY(20%);  
      }
    50% {
        transform: translateX(-20%);
    } 
    60% {
        transform: translateX(40%);  
    }  
    80%{
        transform: translateY(0%);  
    }
    100% {
        transform: translateX(0%);   
    }
  }  

  @keyframes infinite3 {
    0% {
        transform: translateY(0%);
      }
    20% {
        transform: translateX(0%)
      }
    40% {
        transform: translateX(50%);  
      }
    60% {
        transform: translateY(40%);  
    }  
    80%{
        transform: translateY(0%);  
    }
    100% {
        transform: translateX(0%);   
    }
  }  

  @keyframes infinite4 {
    0% {
        transform: translateX(0%);
      }
    20% {
        transform: translateY(0%)
      }
    40% {
        transform: translateX(50%);  
      } 
    60% {
        transform: translateY(-30%);  
    }  
    80%{
        transform: translateX(0%);  
    }
    100% {
        transform: translateY(0%);   
    }
  }

  .head {
    margin:auto;
    width: fit-content;
    height: fit-content;
    text-align: center;
    h1 {
        display: grid;
        place-items: center;       
        height: fit-content;
        width: fit-content;
        z-index: 9;
        margin: auto;
        .fw {
            height: fit-content;
            width: fit-content;
            font-size: 40px;
            font-size: 36px;
            @include breakpoint(mob) {
                font-size: 16px;
                margin-bottom: 0px;
            }
        }
        .sw {
            height: fit-content;
            width: fit-content;
            margin-top: -30px;
            font-size: 96px;
            
            @include breakpoint(sm) {
                font-size: 17vw;
            }
            @include breakpoint(mob) {
                font-size: 20px;
                margin-bottom: 18px;
            }
        }
        .tw {
            height: fit-content;
            width: fit-content;
            margin-top: -60px;
            font-size: 96px;
            @include breakpoint(sm) {
                font-size: 17vw;
            }
            @include breakpoint(mob) {
                font-size: 30px;
            }
        }
    }
  }

  .img1{
    @include breakpoint(mob) {
        width: 170px;
    }
  }

  a {
    width: fit-content;
    height: fit-content;
    display: block;
  }

  .typo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  
  .title{
     
    position: relative;
    left: 50%;
     transform: translateX(-50%);
  }