$breakpoints: (
    "mob": "(max-width: 400px)",
    "rmob": "(max-width: 300px)",
    "sm": "(max-width: 500px )",
    "md": "(min-width: 601px) and (max-width: 1000px )",
    "md-lg": "(min-width:601px)" and "(max-width:770px)",
    "lg-md": "(min-width:770px)" and "(max-width:1000px)", 
    "lg": "(min-width:1001px )",  
    "lg-inf": "(min-width:1001px ) and (max-width:1500px)",
    "inf-lg": "(min-width:1501px ) and (max-width:2000px)"

);

@mixin breakpoint($user-value) {
    $my-map: map-get($breakpoints, $user-value);
    @if $my-map {
        @media (#{$my-map}) {
            @content;
        }
    }@else {
        @error "breakpoint #{$user-value} Not Working"
    }
};

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-title {
    margin-bottom: 1px;
    font-size: 32px;
    text-decoration: underline;
    @include breakpoint(rmob) {
        font-size: 24px;
      }
}

.icon-half {
    display: flex;
    margin: 20px 0px;
}

.icon-size {
    height: 55px;
    width: 55px;
    margin: 5px 20px;
    @include breakpoint(rmob) {
      height: 35px;
    }
}

.icon-skill {
    display: grid;
    place-items: center;
    span {
        font-size: 14px;
    }
}

.next {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}